<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <div class="header">
    <div class="container">
      <h1>Article Summarization
      </h1>
      <nav>
        <ul>
          <li><a href="{% url 'fetch_article_summary' %}">Summary</a></li>
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
          <li><a href="{% url 'feedback' %}">Feedback</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </nav>
    </div>
    </div>
  <div class="main-content">
    
  </div>
</body>
</html>
